@use "./button.scss";

/* THEME TOKENS */
:root {
  --bg: #ffffff;
  --text: #111;
  --border: #ddd;
  --hover: rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
  --bg: #0f0f0f;
  --text: #ffffff;
  --border: #262626;
  --hover: rgba(255, 255, 255, 0.08); 
}

/* LIGHT */
html[data-theme="light"] {
  --bg: #ffffff;
  --card: #f9f9f9;
  --border: #e5e7eb;

  --text: #111111;
  --muted: #6b7280;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  min-height: 100vh;
  width: 100%;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

/* LINKS */
a {
  color: var(--text);
  text-decoration: none;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}